.container {
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 4px;
  min-height: 48px;
  padding: 8px;
  margin-bottom: 48px;
  transition: 0.6s;
  border-bottom: 1px solid black;
}

.inputContainer {
  height: 100%;
  width: 100%;
}

.faultyInput {
  border-bottom: 1px solid #ff7676;
}
.correctInput {
  border-bottom: 1px solid rgb(140, 252, 140);
}

.shakyInput {
  animation-name: shake;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
}

.inputContainer input {
  border: none;
  outline-style: none;
  color: aliceblue;
  background-color: #000000;
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 6px;
  width: 100%;
}
.inputContainer input::placeholder {
  transition: 0.2s;
}
.inputContainer input:focus::placeholder {
  opacity: 0.5;
}

.genresDropdown {
  display: flex;
}

.selectedsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  gap: 12px;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(2px);
  }
  20% {
    transform: translateX(6px);
  }
  30% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
  90% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}
