.galleryMember {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  overflow: hidden;
  background-color: black !important;
  border-radius: 4px;
  transition: all 0.2s;
  animation: initialize;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes initialize {
  0% {
    filter: blur(12px);
  }
  100% {
    filter: blur(0);
  }
}

.addMovieSpan {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.6s;
  min-width: max-content;
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 0;
  z-index: 5;
}

.attention {
  opacity: 1 !important;
  filter: blur(0) !important;
  z-index: 5;
  border-radius: 8px;
}

.attention .moviePoster {
  opacity: 0.86;
}

.galleryMember:hover .addMovieSpan {
  opacity: 1;
  animation-name: jumpingText;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.moviePoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all 0.1s;
}

.loading .addMovieSpan {
  opacity: 0;
}

.loading .moviePoster {
}

.stored {
  pointer-events: none;
}
.stored .moviePoster {
  opacity: 0.36;
}

.storedMarkContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #292929;
  border-radius: 12px;
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: center;
  opacity: 0;
  transition: 0.4s;
  transition-delay: 0.12s;
}
.storedMark {
  width: 60%;
}
.stored .storedMarkContainer {
  opacity: 1;
  width: 36px;
  height: 36px;
}

@keyframes blurLoading {
}

.galleryMember:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}
.galleryMember:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 12;
}
.galleryMember:nth-child(3) {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 5;
}
.galleryMember:nth-child(4) {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 12;
}
.galleryMember:nth-child(5) {
  grid-column-start: 10;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 6;
}
.galleryMember:nth-child(6) {
  grid-column-start: 10;
  grid-column-end: 15;
  grid-row-start: 6;
  grid-row-end: 12;
}
.galleryMember:nth-child(7) {
  grid-column-start: 15;
  grid-column-end: 19;
  grid-row-start: 1;
  grid-row-end: 7;
}
.galleryMember:nth-child(8) {
  grid-column-start: 15;
  grid-column-end: 19;
  grid-row-start: 7;
  grid-row-end: 12;
}
.galleryMember:nth-child(9) {
  grid-column-start: 19;
  grid-column-end: 23;
  grid-row-start: 1;
  grid-row-end: 5;
}
.galleryMember:nth-child(10) {
  grid-column-start: 19;
  grid-column-end: 23;
  grid-row-start: 5;
  grid-row-end: 12;
}
.galleryMember:nth-child(11) {
  grid-column-start: 23;
  grid-column-end: 29;
  grid-row-start: 1;
  grid-row-end: 4;
}
.galleryMember:nth-child(12) {
  grid-column-start: 23;
  grid-column-end: 29;
  grid-row-start: 4;
  grid-row-end: 12;
}

@keyframes jumpingText {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    scale: 1.02;
    transform: translate(-50%, -8px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
