.gallery {
  max-width: 100%;
  display: grid;
  aspect-ratio: 28/10;
  grid-template-columns: repeat(28, 1fr);
  grid-template-rows: repeat(10, 1fr);
  min-width: 780px;
  gap: 10px;
  transition: opacity 0.2s;
}

.faded.gallery > * {
  opacity: 0.32;
}

@media screen and (max-width: 769px) {
}
