*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #0d0c0f;
  padding: 24px;
}
.pageWrapper {
  background-color: #0d0c0f;
  display: flex;
  gap: 72px;
}
.popularsContainer {
  overflow-x: scroll;
}
.popularHeading,
.myMoviesHeading {
  font-size: 2.2rem;
  margin-top: 36px;
}
.myMoviesHeading {
  margin-top: 48px;
}
.popularsContainer::-webkit-scrollbar {
  width: 0;
}

.navSection {
  height: auto;
  min-width: 280px;
  background-color: #0d0c0f;
  /* background-color: rgb(3, 138, 255); */
  border-radius: 16px;
  z-index: 6;
}

.moviesSection {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-basis: 100%;
}

.myMoviesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  margin-top: 24px;
}
@media screen and (max-width: 1226px) {
  .myMoviesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 986px) {
  .myMoviesContainer {
    /* grid-template-columns: repeat(1, 1fr); */
  }
  .popularsContainer div {
    overflow: visible;
  }
  .popularsContainer span {
    width: min-content;
    font-size: 12px;
    bottom: -12%;
    z-index: 3;
  }
  .pageWrapper {
    flex-direction: column;
    gap: 32px;
  }
  .navSection {
  }
}

@media screen and (max-width: 768px) {
  .myMoviesContainer > * {
  }
}
