*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #0d0c0f;
  padding: 24px;
}
.pageWrapper {
  background-color: #0d0c0f;
  display: flex;
  gap: 72px;
}
.popularsContainer {
  overflow-x: scroll;
}
.popularHeading,
.myMoviesHeading {
  font-size: 2.2rem;
  margin-top: 36px;
}
.myMoviesHeading {
  margin-top: 48px;
}
.popularsContainer::-webkit-scrollbar {
  width: 0;
}

.moviesSection {
  overflow: visible;
  flex-basis: 100%;
}

.myMoviesContainer {
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  margin-top: 24px;
}
@media screen and (max-width: 1326px) {
  .myMoviesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 986px) {
  .myMoviesContainer {
    /* grid-template-columns: repeat(1, 1fr); */
  }
  .popularsContainer div {
    overflow: visible;
  }
  .popularsContainer span {
    width: min-content;
    font-size: 12px;
    bottom: -12%;
    z-index: 3;
  }
}

@media screen and (max-width: 560px) {
  .myMoviesContainer {
    padding: 0 24px;
    grid-template-columns: repeat(1, 1fr);
  }
}
