.searchBar {
  width: 100%;
  background-color: #2b2b2b;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
}
.threeDotsContainer {
  margin-top: 4px;
  width: 26px;
}
.threeDotsContainer svg {
  max-width: 100%;
  max-height: 100%;
}
.searchInput {
  height: 90%;
  outline: none;
  border: none;
  flex-basis: 100%;
  background-color: #2b2b2b;
  font-weight: 700;
  color: #cdcdcd;
}
.searchInput::placeholder {
  letter-spacing: normal;
  color: #6b6b6b;
  font-weight: 700;
  transition: all 0.2s;
}
.searchInput:focus::placeholder {
  color: #474747;
}
