.container {
  background-color: #161616;
  border: 1px solid rgb(38, 38, 38);
  flex-basis: 100%;
  padding: 12px 24px 24px 24px;
  border-radius: 12px;
  height: min-content;
}

.pageTitle {
  margin-bottom: 48px;
  border-bottom: 1px solid #353535;
  padding-bottom: 12px;
}
.genresContainer {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
}
.genreBox {
  padding: 2px 12px 3px 12px;
  cursor: pointer;
  color: rgb(230, 230, 230);
  font-weight: 500;
  border-radius: 1rem;
  background-color: rgb(38, 38, 38);
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.selectedGenre {
  background-color: #e00000;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 12px 1px rgba(255, 0, 0, 0.4);
}
.actionsContainer {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  gap: 24px;
  padding: 12px;
  justify-content: end;
}
.genresTitle {
  margin-bottom: 2rem;
  color: #494949;
}

.cancelButton,
.saveButton {
  color: #005d1a;
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 2px 32px;
  height: 3rem;
  cursor: pointer;
}
.saveButton {
  background-color: #21f65c;
}
.saveButton:hover {
  background-color: #4aff7d;
}
.cancelButton {
  font-weight: 500;
  color: white;
}
.cancelButton:hover {
  text-decoration: underline;
}
